@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  font-family: 'Open sans';
  overflow-x: hidden;
}
::selection {
  /* background-color: rgba(223, 181, 66, 0.3); */
}
#__next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}